<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="44A7E103-377C-48BD-A3EA-7198C05D90C5" Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="44A7E103-377C-48BD-A3EA-7198C05D90C5" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>math_rounds</DisplayName>
	<Description>Math Rounds</Description>
    <PublisherDisplayName>Tejas Manohar</PublisherDisplayName>
    <Logo>images\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="index-phone.html">

        <m3:VisualElements
                  DisplayName="math_rounds"
                  Square150x150Logo="images\Square150x150Logo.png"
                  Square44x44Logo="images\Square44x44Logo.png"
                  Description="Math Rounds"
                  ForegroundText="light"
                  BackgroundColor="transparent">
            <m3:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" Square71x71Logo="images\Square71x71Logo.png" />
            <m3:SplashScreen Image="images\SplashScreen.png" />
			<m3:InitialRotationPreference><m3:Rotation Preference="landscape" /><m3:Rotation Preference="landscapeFlipped" /></m3:InitialRotationPreference>
        </m3:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
<Capability Name="internetClientServer" />

  </Capabilities>

</Package>
