<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="D6300F62-280A-41DC-9F8A-EBEF8A011F0F" Version="1.0.0.0" />

  <Properties>
    <DisplayName>math_rounds</DisplayName>
	<Description>Math Rounds</Description>
    <PublisherDisplayName>Tejas Manohar</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application 
      Id="App"
      StartPage="index-win.html">

      <m2:VisualElements
        DisplayName="math_rounds"
        Description="Math Rounds"
        ForegroundText="light"
        BackgroundColor="#464646"
        Square150x150Logo="images\Logo.png"
        Square30x30Logo="images\SmallLogo.png">

        <m2:SplashScreen Image="images\splashscreen.png" />
		
		<m2:InitialRotationPreference><m2:Rotation Preference="landscape" /><m2:Rotation Preference="landscapeFlipped" /></m2:InitialRotationPreference>

      </m2:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />

  </Capabilities>

</Package>
